body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  background-color: 'gray';
  min-height: 1000px;
}

.title {
  min-height: 400px;
  padding :3em !important;
}

.icon {
  padding-top: 1em !important;
}
  
.ace-editor {
  width: 100%;
  height: 100%;
}


.ui.grid {
    max-height: 90% !important;
}

.container {
  height: 80vh !important;
  margin: 25px;
}

