
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background:#777;

}

.header-container {
  height:5em;
  width:100%;
  background-color:#000;
  display:flex;
  align-items: center;
}

.header-titles {
  margin:0;
  width:480px;
  height:100%;
  box-sizing:border-box;
  background-color:#F92672;
  display:flex;
  align-items: center;
  justify-content:center;  
  border-radius:5px;

}

.header-container h1 {
  padding:15px;
  font-size:40px;
  color:#fff;
}

.header-actions {
  -webkit-box-flex:1;
  flex: 1;
  justify-content: flex-end;
  -webkit-box-align:center;
  margin-right:8rem;
}


.button-wide {
  background-color:#A6E22E;
  padding-right:1.5em;
  padding-left:1.5em;
  float: right;
  margin-right:8px;
  margin-left:8px;
}

button {
  display:inline-block;
  padding:.6em 1em;
  font-size:18px;
  color:#272822;
  border: none;
}

button:hover {
  background-color: #35845d;
  text-shadow: -1px 1px #2f7251;
}

.header-username {
  display:inline-block;
  margin-top:.25em;
  padding-right:6em;
  float:right;
  text-align:center;
  font-size:30px;
  color:white;
}

.box {
  margin-top:1rem ;
  margin-right:1rem;
  margin-left:1rem;
  padding:1rem;
  background-color:#272822;
  border-radius:3px;
  /*box-shadow: 2px 2px 2px black;*/
}

.home-container {
  max-width:100%;
  max-height:94vh;
  min-height:94vh;
  display:flex;
  border-top :5px solid black;
  background-color: #777;
}

.left-panel {
  flex:1;
  order:1;
  display:flex;
  max-height:86vh;
  flex-direction:column;
}
.right-panel {
  flex:1;
  order:3;
  min-height:88vh;
  display:flex;
  flex-direction:column;
}

.navbar-container {
  padding-right:0px;
  flex:.8;
  order:2;
  display:flex;
  flex-direction:column;
  border-bottom:20rem;
  border:6px solid #66D9EF;
}

.nav-scroll {
  flex:3.5;
  align-items: stretch;
  overflow-y: auto;
}

.nav-scroll:hover::-webkit-scrollbar-thumb {
  background:#FFF;
}

.nav-item {
  margin-left:8px;
  margin-right:20px;
  background-color:#272822; 
  color:#fff;

}

.nav-item:hover {
  background-color:#66D9EF;
  color:#000; 
}
.nav-info {
  flex:1;
  margin-bottom:-1.5em;
  margin-top: .5em;
  text-align:center;
  color:#66D9EF
}

.nav-info h2 {
  margin-top:.5rem;
}

.room-info {
  flex:1;
  border-top:2em;
  border:6px solid #FD971F;
  max-height:66%;
  overflow-y: auto;
}

.room-info:hover::-webkit-scrollbar-thumb {
  background:#FFF;
}

.room-info-text {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nametag {
  margin:1em;
  padding:1em;
  min-width:40%;
  text-align:center; 
}

.room-info-header h2 {
  width:100%;
  text-align: center;
  color:#FD971F;
}

.welcome-info {
  text-align: center;
  word-wrap:break-word;
}

.welcome-info h2 {
  color:#fff;
}

.welcome-info h3 {
  color:#FD971F;
}

.chat-container {
  flex:2;
  display:flex;
  flex-direction: column;
  margin-bottom:5.1rem;
  padding-right:0px;
  padding-top:0px;
  min-height:73vh;
  border:6px solid #F92672;
}


.chat-scroll {
  flex:4;
  min-height:71vh;
  max-height:72vh;
  align-items: stretch;
  overflow-y: auto;
  display:flex;
  flex-direction: column-reverse;
}

.chat-scroll:hover::-webkit-scrollbar-thumb {
  background:#FFF;
}

.chat-info {
  margin-top: .5em;
  margin-bottom: -7em;
  text-align:center;
  color:#F92672
}


.comment {
  max-width:22em;
  word-wrap: break-word;
  margin-top:.5em;
}

.comment h5 {
  margin:0;
}
.comment p {
  margin:0;
}

.input-text {
  width:80%;
  margin-left:8%;
  margin-top:2em;
  padding:5px;
  border:0px;

}


.editor-panel {
  margin-top:1em;
  padding-left:8px;
  padding-right:8px;
  flex:3;
  order:2;
}

.editor-div {
  border-radius:3px;
  padding:4px;
  background-color:#272822;
  position:relative;
}

.x {
  color: #FFF;
}

.x:hover {
  color: #000;
}


.editor-animate-div {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible; 
}
.show {
  opacity: 1;
  visibility: visible; 
}

.hidden {
  visibility: hidden; 
}


.room-form-div {
  margin:60px 350px;
  border:6px solid #111;
}

.room-form-div h2 {
  text-align: center;
  color:#fff;
}

.form {
  text-align:center;
}

.form label {
  color:#FFF;
  font-size:16px;
  margin:5px;
}

.textbox {
  margin:10px;
  padding:5px;
  border:0px;
}

.filterbox {
  padding:5px;
  border:0px;
}

.select {
  margin:15px;
}



.newroom {
  background-color:#A6E22E;
  padding-right:1.5em;
  padding-left:1.5em;
  margin:10px;
}

.typingmessage {
  padding:5px;
  padding-left:4em;
  position: absolute; 
  bottom:2%;
  width:90%;
  margin-left:40px;
  margin-right:400px;
  opacity: 1;
}

.splash-page {
  width:100vw;
  height:100vh;
  background-color:#E0FDE0;
  background-image:url(./pear-background.svg);
  background-repeat: url(./pear-background.svg);
  background-size:180px;
  position: relative;
  text-align: center;
  animation: animatedBackground 40s linear infinite;
  display: flex;
  flex-direction: column;
  /*align-items: center; */
  /*justify-content: center;*/
}

.title {
  margin:auto;
  margin-top:10rem;
  background-color:#fff;
  border-radius:20px;
  border: 10px solid #444;
  width:40%; 
  height:40%;
  text-align: center;
 
}

.title h1 {
    font-size: 8em;
    padding-top:1em;
    color:#C3D938;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}

.logintext {
  background-color:#E0FDE0;
  margin:10px;
  padding:10px;
  border:0px; 
}

.chat-error {
  text-align:center;
}

.chat-error h3 {
  padding-bottom:1em;
  color:#FFF;
}

.join-room {
  background-color:#A6E22E;
  padding-right:1.5em;
  padding-left:1.5em;
  margin-left:5em;
}












